@*@model ProductViewModel*@

@{
    Layout = "_Layout";
}

<link rel="stylesheet" href="~/css/StyleProduct.css" type="text/css" />

<div id="mainContainer">
    <div id="leftContainer">
        <img src="~/images/@{@Model.Software.Name}.png" alt="" style="width: 350px; height: 350px" />
        <div id="price">Price : @Model.Software.Price</div>
        <div id="buyButton">@if (Model.IsBought)
            {
                <form asp-controller="Home" asp-action="AddReview">
                    <h2>Review</h2>
                    <input name="information">
                    <input type="hidden" name="softwareName" value="@Model.Software.Name" />
                    <button>Add</button>
                </form>
            }
            else
            {
                <a asp-controller="Home" asp-action="Buy" id="buttonBuy">Buy</a>
            }</div>
    </div>

    <div id="rightContainer">
        <div id="name"><h1>Name : @Model.Software.Name @(Model.IsBought ? "(Bought)" : "")</h1></div>
        <div id="information">Information : @Model.Software.Information</div>
    </div>
</div>

@*<div id="flex-container">
    <div class="inside-container" id="left-container">
    
        <img src="~/images/@{@Model.Software.Name}.png" alt="" style="width: 350px; height: 350px" />
        <div>Price : @Model.Software.Price</div>
    
        @if (Model.IsBought)
        {
            <form asp-controller="Home" asp-action="AddReview">
                <h2>Review</h2>
                <input name="information"></input>
                <input type="hidden" name="softwareName" value="@Model.Software.Name" />
                <button>Add</button>
            </form>
        }
        else
        {
            <a asp-controller="Home" asp-action="Buy">[Buy]</a>
        }
    </div>
    
    <div class="inside-container" id="right-container">
        <h1>Name : @Model.Software.Name @(Model.IsBought ? "(Bought)" : "")</h1>
        <div>Information : @Model.Software.Information</div>
    
        <h1>Comments</h1>
        @foreach (var review in @Model.Software.Reviews)
        {
            <div style="border: 3px solid black; margin: 5px;">
                <h3>@review.Account.Name</h3>
                <div>@review.Information</div>
            </div>
        }
        <a asp-controller="Home" asp-action="Index">[Home]</a>
    </div>
</div>*@